{% extends 'main.html' %}
{% load staticfiles %}
{% block article %}

    <div class="large-8 columns">
{% for article in articles %}
<h5>Date of publication {{article.article_date}}</h5>
    <h4><a href="/articles/get/{{ article.id }}"> {{ article.article_title }}</a></h4>
    <p>{{ article.article_text }}</p>
    <p><a href="/articles/addlike/{{ article.id }}"><img src="{% static "ok.jpg" %}" width = "25px" height="25px"></a> {{ article.article_likes }}</p>
    
{% endfor %}
{% endblock %}

