{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>Django</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/foundation.css" %}">
</head>
<body>
<h1><a href="/">My blog</a></h1>
<div  class = "row">

{% block article %}
{% endblock %}
</div>
</body>
</html>
